.menuLink {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px}
.menuText { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px}
.contentText { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 9px }
p {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px}
code {  font-family: "Courier New", Courier, mono; font-size: 10px; background-color: #CCCCCC}
.code { font-family: "Courier New", Courier, mono; font-size: 10px; background-color: #CCCCCC }
li { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px }
.contentTextSmall { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 9px }
